%h1 New transaction

= render 'form'

= form_tag action: :create, method: :post do
  :plain
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_6d89c8792c4bb812515e783f"></script>

= link_to 'Back', 
